In [16]:
print()

In [17]:
print("shantanu")

shantanu

computer science course

In [18]:
"computer data"

'computer data'

In [19]:
90 + 70 - 40

120

In [20]:
print("bruce","wayne","clark")

bruce wayne clark

In [21]:
print(1,2,3,4,5,6,7,8,9,10, sep='🍕')

1🍕2🍕3🍕4🍕5🍕6🍕7🍕8🍕9🍕10

In [22]:
print("this is python data science")
print("i am studying cpmuter science")
print("this is my computer")

this is python data science
i am studying cpmuter science
this is my computer

In [23]:
print("""
shantanu
""")

shantanu

In [24]:
print('this', end=' ')
print('that', end=' ')
print('there')
print('therefor' ,end=' ')
print('🚲🚲🚲🚲🚲🚲')

this that there
therefor 🚲🚲🚲🚲🚲🚲

In [1]:
age = 20
color2 = 'yellow'
name = 'bob'

In [26]:
name = 'shantanu'

*data type can be changed by changing the value of variable*

In [27]:
name = "kanye west"
color = "yellow"
academy = 'digipodium'

In [28]:
is_coding=True
is_fun=True
are_you_bored=False

In [29]:
x = None

In [2]:
a={5,50,6,60,7,70,8,80,9,90,10,100}
vals={1,2,2,'python'}
colors={'red,green,blue'}

In [ ]:
a=(5,50,6,60,7,70,8,80,9,90,10,100)
vals=(1,2,2,'python')
colors=('red,green,blue')

In [ ]:
car_info = {"brand":"ford",
"model": "mustang",
"year": 1976




}

*input in python*

In [ ]:
name = input('what is your name?')
city = input('which city do you live in?')
print("so according to you")
print("you are", name)
print("town", city)

# operators

In [ ]:
# arthematic operations
a = 10
b = 3

print( a + b) # sub
print( a - b) # sub
print( a * b) # mul
print( a / b) # float div

In [ ]:
print( a // b ) # int div

In [ ]:
print( 23 % 5 ) # remainder

In [ ]:
2 ** 10

In [ ]:
# assigment operators 
a = 10 
b = 5
c = 4

# alternate way to assign a value to a variable

In [ ]:
a +=2 # update with a + 2

# comparion operators

In [ ]:
print(a > b) # greater than
print(a >= b) # greater than or equal to
print(a < b) 
print(a <= b) 
print(a == b) 
print(a != b)

In [ ]:
# logical operators (and, or, not)
print(a > b and a > 5)
print(a < b and a> 5)
print(a > b or a> 5)
print(a < b or a> 5)
print(not a < b)
print(not a > b)
print(not a and not b and not c)

True
False
True
True
True
False
False

# membership operations

In [ ]:
msg = 'its the journey that matters'
print (' journey ' in msg)
print ('destination' in msg)

True
False

# is the operators check wheater two objects belong to same memory location or not

questions

In [ ]:
# area_of
radius = 10
area = 3.14 * radius ** 2 
print (area)

314.0

In [ ]:
l = float (input('enter legnth =>'))
b

In [ ]:
import math

In [ ]:
p = float(input('enter prependicular'))
b = float(input('enter base'))
h = math.hypot(p, b)
print ('hypotenuse is', h)

hypotenuse is 7.211102550927979

In [ ]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [6]:
p = float(input('enter initial principle balance'))
r = float(input('enter intrest rate'))
n = float(input('enter n'))
a = (im(p*(1+r/n)**n*)
print('cpmpound intrest',a )

SyntaxError: invalid syntax (254785630.py, line 4)

conditions

In [ ]:
1 single condition based program (if)
2 complete condition logic (if - else)
3 multiple condition logic (if elif else)

In [13]:
x = 2347

if x%2 ==0:
    print('even')
print('the end')

the end

In [23]:
num = input('input the number')
if num.isnumeric():
    print("well done")
    num = int(num)
else:
    print("bad input")

well done

In [24]:
username = "john cena"
email = 'johncena@gmail.com'
password = 'john56'
if username== 'john cena':
    if email=='johncena@gmail.com':
        if password == 'john56':
            print("welcome to home")
        else:
            print("wrong name")
    else:
         print ('wrong email')
else:
    print('password')

welcome to home

In [28]:
username = "john cena"
email = 'johncena@gmail.com'
password = 'john56'
if username== 'john cena':
    print("wrong username")
elif password != 'john56':
    print("wrong password")
elif email != 'johncena@gmail.com':
    print("wrong email")
else:
    print("welcome home")

wrong username

*wap to calculate the grade of student based on marks,with following rules:*

In [48]:
marks =input("marks")
if marks.isnumeric():
    marks = int(marks)
    if marks >=90:
        print("grade is A")
    elif marks >=80:
        print("grade is B") 
    elif marks >=70:
        print("grade is c") 
    elif marks >=60:
        print("grade is D")
    elif marks < 60:
        print("grade is F")
else:
    print("invalid")

invalid

In [1]:
word= 'kawasaki'
len(word)

8

for loop syntax

Syntax

for <variable> in <sequence>:
    statement 1
    statement 2
    
    - - -
    statement n

In [3]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [7]:
fruits = ["🍎apple","🍌banana","🥭mango"]
for item in fruits:
    print(f'i have {item}')

i have 🍎apple
i have 🍌banana
i have 🥭mango

string setting 
r = raw string
f = formatted string

In [14]:
for i in range (5):
    print("you got point",i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4

In [1]:
for num in range(1,18,3):
    print('🥚level',num)

🥚level 1
🥚level 4
🥚level 7
🥚level 10
🥚level 13
🥚level 16

In [19]:
for num in range(2,11):
    print('🍕sheep',num)

🍕sheep 2
🍕sheep 3
🍕sheep 4
🍕sheep 5
🍕sheep 6
🍕sheep 7
🍕sheep 8
🍕sheep 9
🍕sheep 10

In [21]:
# reverse loop
for num in range(18,5,-1):
    print(num)

18
17
16
15
14
13
12
11
10
9
8
7
6

extra functional setting for (for loop)

* enumerate
* zip

In [24]:
fruits = ['apple','banana','cherry','orange','kiwi','mango']
for fruits in fruits:
    print(i,fruits)

2 apple
2 banana
2 cherry
2 orange
2 kiwi
2 mango

In [22]:
for i, fruits in enumerate(fruits):
    print(i,fruits)

0 apple
1 banana
2 mango

In [25]:
prices = [100,20,50,200,500]

In [26]:
for f,p in zip(fruits,prices):
    print(f,"=>",p)

m => 100
a => 20
n => 50
g => 200
o => 500

In [27]:
qty = ['2kg','2dozens','3 kg','5 kg','4 kg']

In [34]:
for f,p,q in zip(fruits,prices,qty):
    print(f,'=>',p,'for',q)

m => 100 for 2kg
a => 20 for 2dozens
n => 50 for 3 kg
g => 200 for 5 kg
o => 500 for 4 kg

In [2]:
username = 'shaantanu'
gmail = 'shantanugiri@gmail.com'
password = 'shaan123'
if username == 'shaantanu':
    print('correct username')
elif gmail == 'shantanugiri@gmail.com':
    print('correct gmail')
elif password == 'shaan123':
    print('correct password')
else:
    print("welcome home")

correct username

In [4]:
username = 'shaantanu'
gmail = 'shantanugiri@gmail.com'
password = 'shaan123'
if username == 'shaantanu':
    print('wrong username')
elif gmail == 'shantanugiri@gmail.com':
    print('wrong gmail')
elif password == 'shaan123':
    print('wrong password')
else:
    print("incorrect details")

wrong username